<div class="container">
    <h2>Bienvenido a la Aplicación</h2>
    <p>Seleccione una opción para continuar:</p>
    <ul class="list-group">
      <li class="list-group-item">
        <a class="btn btn-primary" routerLink="/Estudiantes"><i class="bi bi-person"></i> Estudiantes</a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-primary" routerLink="/Representantes"><i class="bi bi-person-lines-fill"></i> Representantes</a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-primary" routerLink="/Calificaciones"><i class="bi bi-file-earmark-text"></i> Calificaciones</a>
      </li>
    </ul>
  </div>
  